{
  "openapi": "3.0.3",
  "info": {
    "title": "SoterAI Guard API",
    "version": "0.2.2",
    "description": "SoterAI provides AI security guardrails for prompt injection, jailbreak, PII, secrets, agent firewall, and compliance. All API routes are under `/api/`.\n\n**Authentication:** Pass your API key via the `x-api-key` header or use the SDK.\n\n**Rate limiting:** Per-key RPM limits apply. Exceeded limits return 429 with `Retry-After` and `X-RateLimit-*` headers.",
    "contact": {
      "name": "SoterAI Support",
      "url": "https://soterai.com/docs"
    },
    "license": {
      "name": "Business Source License 1.1",
      "url": "https://github.com/yashchauhan66/Soter-AI/blob/main/LICENSE"
    }
  },
  "servers": [
    { "url": "https://soterai.publicvm.com", "description": "Production" },
    { "url": "http://localhost:3000", "description": "Local development" }
  ],
  "paths": {
    "/api/guard/input": {
      "post": {
        "summary": "Guard input (user message)",
        "description": "Analyze a user message for prompt injection, jailbreak, PII, secrets, and system prompt leaks. Returns risk score, action recommendation, and redacted content.",
        "operationId": "guardInput",
        "tags": ["Guard"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "string", "description": "User message to inspect", "maxLength": 100000 },
                  "userId": { "type": "string", "description": "Optional user identifier for audit" },
                  "sessionId": { "type": "string", "description": "Optional session identifier" },
                  "metadata": { "type": "object", "description": "Optional metadata payload" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Guard analysis result with risk score, findings, and action" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/api/guard/output": {
      "post": {
        "summary": "Guard output (AI response)",
        "description": "Analyze an AI-generated response for unsafe content, PII exposure, unsecured URLs, and excessive agency. Returns risk score, action recommendation, and redacted content.",
        "operationId": "guardOutput",
        "tags": ["Guard"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["aiResponse"],
                "properties": {
                  "aiResponse": { "type": "string", "description": "AI response to inspect", "maxLength": 100000 },
                  "sessionId": { "type": "string", "description": "Optional session identifier" },
                  "metadata": { "type": "object", "description": "Optional metadata payload" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Guard analysis result with risk score, findings, and action" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/api/guard/analyze": {
      "post": {
        "summary": "Public guard analysis (playground)",
        "description": "Public endpoint for guard analysis without API key. Rate limited by IP address. Supports both INPUT and OUTPUT directions.",
        "operationId": "guardAnalyze",
        "tags": ["Guard"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text", "direction"],
                "properties": {
                  "text": { "type": "string", "description": "Text to analyze" },
                  "direction": { "type": "string", "enum": ["INPUT", "OUTPUT"] }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Guard analysis result" } }
      }
    },
    "/api/guard/streaming": {
      "post": {
        "summary": "Streaming guard analysis",
        "description": "Progressive content inspection. When stream=true, returns per-chunk guard results for real-time risk surfacing as text is generated by an LLM or typed by a user. Supports early abort on high-risk chunks.",
        "operationId": "guardStreaming",
        "tags": ["Guard"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": { "type": "string", "description": "Full message or response to inspect incrementally", "maxLength": 100000 },
                  "direction": { "type": "string", "enum": ["INPUT", "OUTPUT"], "default": "INPUT" },
                  "stream": { "type": "boolean", "default": false, "description": "Enable per-chunk streaming results" },
                  "chunkSize": { "type": "integer", "default": 500, "minimum": 50, "maximum": 10000 },
                  "includeRedacted": { "type": "boolean", "default": true },
                  "sessionId": { "type": "string" },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Array of chunk-level guard results" }
        }
      }
    },
    "/api/guard/grounding": {
      "post": {
        "summary": "Grounding / fact-check analysis",
        "tags": ["Guard"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text", "sources"],
                "properties": {
                  "text": { "type": "string" },
                  "sources": { "type": "array", "items": { "type": "string" }, "description": "Source documents for grounding" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Grounding verification result" } }
      }
    },
    "/api/agent-firewall/inspect": {
      "post": {
        "summary": "Agent firewall — inspect tool call",
        "description": "Inspect an agent tool call before execution. Evaluates the tool name, arguments, and context against the configured policy. Returns ALLOW, BLOCK, or ESCALATE with explanation.",
        "operationId": "agentFirewallInspect",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toolName", "arguments", "agentId"],
                "properties": {
                  "toolName": { "type": "string" },
                  "arguments": { "type": "object" },
                  "agentId": { "type": "string" },
                  "sessionId": { "type": "string" },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Firewall decision" } }
      }
    },
    "/api/agent/passport/issue": {
      "post": {
        "summary": "Issue agent passport",
        "description": "Create a cryptographically signed agent session passport with intent, scope, and expiration claims.",
        "operationId": "issueAgentPassport",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId", "intent"],
                "properties": {
                  "agentId": { "type": "string" },
                  "intent": { "type": "string", "description": "Declared intent of the agent session" },
                  "scope": { "type": "array", "items": { "type": "string" }, "description": "Allowed tool scopes" },
                  "ttlSeconds": { "type": "integer", "default": 3600 }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Issued passport with JWT" } }
      }
    },
    "/api/agent/passport/{sessionId}": {
      "get": {
        "summary": "Get agent passport",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "sessionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Passport details" } }
      }
    },
    "/api/agent/passport/validate": {
      "post": {
        "summary": "Validate agent passport",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": { "token": { "type": "string", "description": "Passport JWT to validate" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Validation result" } }
      }
    },
    "/api/agent/passport/revoke": {
      "post": {
        "summary": "Revoke agent passport",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId"],
                "properties": { "sessionId": { "type": "string" }, "reason": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Revocation result" } }
      }
    },
    "/api/intent/action/check": {
      "post": {
        "summary": "Intent guard — verify action intent",
        "description": "Verify that an agent action matches its declared intent. Detects intent drift (e.g., finance agent trying to access HR systems).",
        "operationId": "intentCheck",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "intent", "agentId"],
                "properties": {
                  "action": { "type": "object", "properties": { "type": { "type": "string" }, "target": { "type": "string" } } },
                  "intent": { "type": "string" },
                  "agentId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Intent verification result" } }
      }
    },
    "/api/tool-chain/step/check": {
      "post": {
        "summary": "Tool chain — check step",
        "description": "Analyze a single step in a multi-step agent action chain for attack patterns like privilege escalation, chain-of-thought manipulation, and tool looping.",
        "operationId": "toolChainCheck",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId", "step"],
                "properties": {
                  "sessionId": { "type": "string" },
                  "step": { "type": "object", "properties": { "tool": { "type": "string" }, "arguments": { "type": "object" }, "result": { "type": "string" } } }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Step analysis result" } }
      }
    },
    "/api/escrow/create": {
      "post": {
        "summary": "Create escrow transaction",
        "description": "Create a human-in-the-loop escrow transaction for high-risk agent actions. Requires explicit approval before execution.",
        "operationId": "createEscrow",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "reason", "ttlMinutes"],
                "properties": {
                  "action": { "type": "object", "description": "Action requiring approval" },
                  "reason": { "type": "string", "description": "Why escrow is required" },
                  "ttlMinutes": { "type": "integer", "default": 60 }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Created escrow transaction" } }
      }
    },
    "/api/escrow/approve": {
      "post": {
        "summary": "Approve escrow transaction",
        "tags": ["Agent Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["escrowId", "approvedBy"],
                "properties": {
                  "escrowId": { "type": "string" },
                  "approvedBy": { "type": "string", "description": "User who approved" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Approval result" } }
      }
    },
    "/api/rag/query": {
      "post": {
        "summary": "RAG guard — query with document scanning",
        "description": "Query RAG with automatic document security scanning. Returns safe chunks and blocks sources containing prompt injection or hidden instructions.",
        "operationId": "ragQuery",
        "tags": ["RAG Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query", "documents"],
                "properties": {
                  "query": { "type": "string" },
                  "documents": { "type": "array", "items": { "type": "object", "properties": { "content": { "type": "string" }, "source": { "type": "string" }, "metadata": { "type": "object" } } } },
                  "maxChunks": { "type": "integer", "default": 10 }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "RAG query with safe chunks and blocked sources" } }
      }
    },
    "/api/rag/document/trust-score": {
      "post": {
        "summary": "Get document trust score",
        "tags": ["RAG Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["documentId"],
                "properties": { "documentId": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Trust score and scan history" } }
      }
    },
    "/api/rag/documents": {
      "get": { "summary": "List RAG documents", "tags": ["RAG Security"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "List of documents" } } },
      "post": { "summary": "Upload RAG document", "tags": ["RAG Security"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Upload result" } } }
    },
    "/api/rag/documents/{id}/rescan": {
      "post": {
        "summary": "Rescan RAG document",
        "tags": ["RAG Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Rescan result" } }
      }
    },
    "/api/rag/documents/review": {
      "post": { "summary": "Review and override document classification", "tags": ["RAG Security"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Review result" } } }
    },
    "/api/semantic-egress/check": {
      "post": {
        "summary": "Semantic egress check",
        "description": "Detect paraphrased data exfiltration. Compares LLM output against known sensitive content fingerprints to find semantic leaks even when wording is changed.",
        "operationId": "semanticEgressCheck",
        "tags": ["Data Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["output", "sourceFingerprint"],
                "properties": {
                  "output": { "type": "string", "description": "LLM output to inspect" },
                  "sourceFingerprint": { "type": "string", "description": "Fingerprint of protected content" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Egress check result with leak probability" } }
      }
    },
    "/api/semantic-egress/source/fingerprint": {
      "post": {
        "summary": "Create source fingerprint",
        "tags": ["Data Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content", "label"],
                "properties": {
                  "content": { "type": "string", "description": "Protected content to fingerprint" },
                  "label": { "type": "string", "description": "Human-readable label" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Fingerprint result" } }
      }
    },
    "/api/canary/create": {
      "post": {
        "summary": "Create canary token",
        "description": "Create a tripwire canary token for detecting data exfiltration. When the token appears in LLM output, a CRITICAL alert fires.",
        "operationId": "createCanaryToken",
        "tags": ["Data Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["label"],
                "properties": {
                  "label": { "type": "string", "description": "Label for the canary token" },
                  "payload": { "type": "string", "description": "Optional decoy payload" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Created canary token" } }
      }
    },
    "/api/canary/check": {
      "post": {
        "summary": "Check for canary leaks in text",
        "tags": ["Data Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": { "text": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Leak detection result" } }
      }
    },
    "/api/shadow/scan": {
      "post": {
        "summary": "Shadow AI scan",
        "description": "Discover unauthorized AI services used across the organization. Scans for 37+ known AI provider signatures in network traffic, API keys, and configuration files.",
        "operationId": "shadowAiScan",
        "tags": ["Discovery"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scope": { "type": "string", "enum": ["organization", "project"], "default": "project" },
                  "providers": { "type": "array", "items": { "type": "string" }, "description": "Specific providers to scan for" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Discovered shadow AI services" } }
      }
    },
    "/api/redteam/run": {
      "post": {
        "summary": "Run red-team test suite",
        "description": "Run an adversarial test suite against the guard system. Supports 100+ attack scenarios across prompt injection, jailbreaks, data exfiltration, and more.",
        "operationId": "redteamRun",
        "tags": ["Testing"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["suiteId"],
                "properties": {
                  "suiteId": { "type": "string" },
                  "testIds": { "type": "array", "items": { "type": "string" }, "description": "Specific tests to run (runs all if omitted)" },
                  "target": { "type": "string", "enum": ["input", "output", "agent-firewall"], "default": "input" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Test results with pass/fail per scenario" } }
      }
    },
    "/api/dry-run/simulate": {
      "post": {
        "summary": "Dry-run policy simulation",
        "description": "Simulate a guard check with any policy configuration without persisting results. Useful for testing policy changes before applying them.",
        "operationId": "dryRunSimulate",
        "tags": ["Testing"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text", "policy"],
                "properties": {
                  "text": { "type": "string" },
                  "direction": { "type": "string", "enum": ["INPUT", "OUTPUT"] },
                  "policy": { "type": "object", "description": "Policy configuration to test" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Simulated guard result" } }
      }
    },
    "/api/forensics": {
      "get": {
        "summary": "Forensics investigation",
        "description": "Query historical guard decisions, tool calls, and agent actions for security incident investigation. Supports filtering by time range, severity, and entity.",
        "operationId": "forensicsQuery",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "severity", "in": "query", "schema": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] } },
          { "name": "entityId", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": { "200": { "description": "Forensic evidence results" } }
      }
    },
    "/api/evidence/collect": {
      "post": {
        "summary": "Collect compliance evidence",
        "description": "Collect evidence for SOC 2 / ISO 27001 compliance. Supports manual evidence submission and automatic collection from guard logs, policies, and agent activity.",
        "operationId": "collectEvidence",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "evidenceType": { "type": "string", "enum": ["POLICY", "GUARD_DECISION", "REDACTION", "APPROVAL", "INCIDENT", "RAG_SCAN", "AGENT_PASSPORT", "TOOL_CHAIN", "CANARY", "RED_TEAM", "DATA_FLOW", "COST_CONTROL", "CUSTOM"], "default": "CUSTOM" },
                  "title": { "type": "string" },
                  "summary": { "type": "string" },
                  "controlName": { "type": "string" },
                  "riskLevel": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] },
                  "autoCollect": { "type": "boolean", "default": false, "description": "Auto-collect evidence from system data" },
                  "include": { "type": "array", "items": { "type": "string" }, "description": "Evidence types to auto-collect" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Collected evidence items" } }
      }
    },
    "/api/evidence/items": {
      "get": {
        "summary": "List compliance evidence items",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "responses": { "200": { "description": "List of evidence items" } }
      }
    },
    "/api/evidence/report/generate": {
      "post": {
        "summary": "Generate compliance evidence report",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reportName"],
                "properties": {
                  "reportName": { "type": "string" },
                  "reportType": { "type": "string", "enum": ["SECURITY_POSTURE", "INCIDENT_SUMMARY", "CUSTOMER_TRUST", "AUDIT_EXPORT", "AI_RISK_REVIEW"] },
                  "evidenceIds": { "type": "array", "items": { "type": "string" } },
                  "includeTypes": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Generated report" } }
      }
    },
    "/api/evidence/reports/{id}/export": {
      "post": {
        "summary": "Export evidence report (audit-ready)",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "format": { "type": "string", "enum": ["JSON"], "default": "JSON" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Exported report payload" } }
      }
    },
    "/api/logs": {
      "get": {
        "summary": "Query guard logs",
        "description": "Query guard decision logs with filters, pagination, and export. Supports filtering by action, direction, risk level, date range, and entity.",
        "operationId": "queryGuardLogs",
        "tags": ["Monitoring"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "action", "in": "query", "schema": { "type": "string", "enum": ["ALLOW", "BLOCK", "ESCALATE"] } },
          { "name": "direction", "in": "query", "schema": { "type": "string", "enum": ["INPUT", "OUTPUT"] } },
          { "name": "riskLevel", "in": "query", "schema": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "userId", "in": "query", "schema": { "type": "string" } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 1000 } }
        ],
        "responses": { "200": { "description": "Paginated guard log entries" } }
      }
    },
    "/api/reports": {
      "get": {
        "summary": "List security reports",
        "tags": ["Monitoring"],
        "security": [{ "ApiKeyAuth": [] }],
        "responses": { "200": { "description": "List of generated reports" } }
      }
    },
    "/api/reports/pdf": {
      "post": {
        "summary": "Generate PDF security report",
        "tags": ["Monitoring"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "reportType": { "type": "string" }, "dateRange": { "type": "object" } } } } }
        },
        "responses": { "200": { "description": "PDF download URL" } }
      }
    },
    "/api/feedback": {
      "post": {
        "summary": "Submit detection feedback",
        "description": "Mark guard decisions as correct or incorrect (false positive / false negative). Used to improve detection accuracy over time.",
        "operationId": "submitFeedback",
        "tags": ["Monitoring"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["logId", "feedback"],
                "properties": {
                  "logId": { "type": "string", "description": "Guard log entry ID" },
                  "feedback": { "type": "string", "enum": ["CORRECT", "FALSE_POSITIVE", "FALSE_NEGATIVE"] },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Feedback recorded" } }
      }
    },
    "/api/webhooks": {
      "get": { "summary": "List webhook subscriptions", "tags": ["Webhooks"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Webhook list" } } },
      "post": { "summary": "Create webhook subscription", "tags": ["Webhooks"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Created webhook" } } }
    },
    "/api/webhooks/test": {
      "post": { "summary": "Test webhook delivery", "tags": ["Webhooks"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Test result" } } }
    },
    "/api/blast-radius/simulate": {
      "post": {
        "summary": "Simulate blast radius",
        "description": "Simulate what data and systems would be compromised if an agent or tool were compromised. Returns blast radius score with affected resources.",
        "operationId": "blastRadiusSimulate",
        "tags": ["Risk Assessment"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["scenario"],
                "properties": {
                  "scenario": { "type": "string", "description": "Compromise scenario description" },
                  "affectedTools": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Blast radius simulation result" } }
      }
    },
    "/api/lineage/flow/check": {
      "post": {
        "summary": "Check context lineage",
        "description": "Trace the provenance of data in an LLM context window. Returns which sources contributed to each piece of content.",
        "operationId": "lineageCheck",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["contextId"],
                "properties": { "contextId": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Lineage trace with sources" } }
      }
    },
    "/api/memory/check": {
      "post": {
        "summary": "Check memory for poisoning",
        "description": "Scan agent memory records for prompt injection, poisoned context, or hidden instructions. Quarantine suspicious memory records.",
        "operationId": "memoryCheck",
        "tags": ["Memory Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "memoryId": { "type": "string" },
                  "content": { "type": "string" },
                  "autoQuarantine": { "type": "boolean", "default": false }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Memory scan result" } }
      }
    },
    "/api/mcp/tools/snapshot": {
      "post": {
        "summary": "Snapshot MCP tools",
        "description": "Take a snapshot of MCP server tools to detect drift over time. Subsequent comparisons identify added, removed, or modified tools.",
        "operationId": "mcpToolsSnapshot",
        "tags": ["MCP Security"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["serverId"],
                "properties": { "serverId": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Snapshot taken" } }
      }
    },
    "/api/legal-boundary/check": {
      "post": {
        "summary": "Legal boundary check",
        "description": "Check if an action violates regulatory or legal boundaries (GDPR, HIPAA, SOX). Returns violation details with applicable regulations.",
        "operationId": "legalBoundaryCheck",
        "tags": ["Compliance"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action", "jurisdiction"],
                "properties": {
                  "action": { "type": "string", "description": "Action to check" },
                  "jurisdiction": { "type": "string", "description": "Regulatory jurisdiction (GDPR, HIPAA, SOX, etc.)" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Legal boundary result" } }
      }
    },
    "/api/credentials": {
      "post": {
        "summary": "Store credential in vault",
        "description": "Securely store credentials in the encrypted credential vault. Credentials are encrypted at rest and available to authorized agents only.",
        "operationId": "storeCredential",
        "tags": ["Vault"],
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "value"],
                "properties": {
                  "name": { "type": "string" },
                  "value": { "type": "string" },
                  "type": { "type": "string", "enum": ["api_key", "password", "token", "certificate"] }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Credential stored" } }
      }
    },
    "/api/cost-firewall/budget": {
      "get": { "summary": "Get cost budget", "tags": ["Cost Control"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Budget details" } } },
      "put": { "summary": "Update cost budget", "tags": ["Cost Control"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Updated budget" } } }
    },
    "/api/projects": {
      "get": { "summary": "List projects", "tags": ["Management"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Project list" } } },
      "post": { "summary": "Create project", "tags": ["Management"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Created project" } } }
    },
    "/api/projects/policy": {
      "get": { "summary": "Get project policy", "tags": ["Management"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Policy config" } } },
      "put": { "summary": "Update project policy", "tags": ["Management"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Updated policy" } } }
    },
    "/api/api-keys": {
      "get": { "summary": "List API keys", "tags": ["Management"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "API key list" } } },
      "post": { "summary": "Create API key", "tags": ["Management"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Created API key" } } }
    },
    "/api/auth/signup": {
      "post": { "summary": "Sign up", "tags": ["Auth"], "responses": { "200": { "description": "Signup result" } } }
    },
    "/api/badge/{slug}": {
      "get": { "summary": "Get security badge", "tags": ["Badge"], "responses": { "200": { "description": "Badge SVG" } } }
    },
    "/api/health": {
      "get": { "summary": "Health check", "tags": ["Operations"], "responses": { "200": { "description": "OK" } } }
    },
    "/api/siem": {
      "post": { "summary": "Forward events to SIEM", "tags": ["SIEM"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Forwarded" } } }
    },
    "/api/onboarding": {
      "get": { "summary": "Get onboarding status", "tags": ["Onboarding"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Onboarding progress" } } },
      "post": { "summary": "Complete onboarding step", "tags": ["Onboarding"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Step completed" } } }
    },
    "/api/mcp/servers/register": {
      "post": { "summary": "Register MCP server", "tags": ["MCP Security"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Registered" } } }
    },
    "/api/mcp/drifts": {
      "get": { "summary": "List MCP drifts", "tags": ["MCP Security"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Drift list" } } }
    },
    "/api/billing/checkout": {
      "post": { "summary": "Create checkout session", "tags": ["Billing"], "security": [{ "ApiKeyAuth": [] }], "responses": { "200": { "description": "Checkout URL" } } }
    },
    "/api/billing/webhook": {
      "post": { "summary": "Billing webhook", "tags": ["Billing"], "responses": { "200": { "description": "Received" } } }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "SoterAI API key obtained from the dashboard. Must be kept server-side."
      }
    },
    "schemas": {
      "GuardResult": {
        "type": "object",
        "properties": {
          "decision": { "type": "string", "enum": ["ALLOW", "BLOCK", "ESCALATE"] },
          "action": { "type": "string", "enum": ["ALLOW", "BLOCK", "ESCALATE"] },
          "riskScore": { "type": "number", "minimum": 0, "maximum": 100 },
          "riskLevel": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] },
          "riskTypes": { "type": "array", "items": { "type": "string" } },
          "findings": { "type": "array", "items": { "$ref": "#/components/schemas/Finding" } },
          "redactedText": { "type": "string", "nullable": true }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "severity": { "type": "string", "enum": ["LOW", "MEDIUM", "HIGH", "CRITICAL"] },
          "message": { "type": "string" },
          "start": { "type": "integer" },
          "end": { "type": "integer" }
        }
      }
    }
  },
  "tags": [
    { "name": "Guard", "description": "Input/output guard analysis endpoints" },
    { "name": "Agent Security", "description": "Agent firewall, passports, intent, escrow, tool chain" },
    { "name": "RAG Security", "description": "Document scanning, retrieval guard, trust scoring" },
    { "name": "Data Security", "description": "Semantic egress, canary network, data leakage detection" },
    { "name": "Discovery", "description": "Shadow AI scanner, provider discovery" },
    { "name": "Testing", "description": "Red-team lab, dry-run simulation" },
    { "name": "Compliance", "description": "Evidence vault, forensics, legal boundary, context lineage" },
    { "name": "Monitoring", "description": "Guard logs, reports, detection feedback" },
    { "name": "Webhooks", "description": "Webhook subscription management" },
    { "name": "Memory Security", "description": "Memory firewall, poison detection" },
    { "name": "MCP Security", "description": "MCP server drift detection, tool snapshots" },
    { "name": "Risk Assessment", "description": "Blast radius simulation" },
    { "name": "Cost Control", "description": "Cost firewall, budget management" },
    { "name": "Vault", "description": "Credential vault" },
    { "name": "Management", "description": "Projects, API keys, policy management" },
    { "name": "Auth", "description": "Authentication endpoints" },
    { "name": "Badge", "description": "Security status badge" },
    { "name": "Operations", "description": "Health, monitoring, SIEM" },
    { "name": "Onboarding", "description": "Setup wizard" },
    { "name": "Billing", "description": "Subscription and billing" },
    { "name": "SIEM", "description": "SIEM integration" }
  ]
}
